<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <head>
        <title> Welcome to our page</title>
    </head>

    <body>
        
        <div class="header">
           <img class="logo" src="../images/apple1.png" width="100" height="120">
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/products/pages/1">Products</a></li>
            </ul>
        </nav>
    </body>
</html>