.header{
    padding: 20px;
    background-color:black;
}

.logo{
    display: block;
    margin: auto;
}

nav{
    position:relative;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 55px;
    text-align: center;
    background-color:gray;
    border-radius: 20px;
}

nav ul{
    list-style-type: none;
    margin: 4px;
    padding: 18px;
}
nav ul li{
    display: inline;
    margin-top: 1px;
}

nav ul li a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    padding: 18px;
}